html {
  background-color: #ddd;
}

body {
  width: 90%;
  margin: 0 auto;
  font-family: Tahoma, Arial, sans-serif;
  color: black;
}

th {
  font-family: monospace;
  height: 30px;
}

th font {
  font-size: 16px;
}

h1 {
  margin: 0px;
  background-image: url('http://jetstream.unidata.ucar.edu/repository/entry/get/jet2.png?entryid=69c4a7d2-5732-499f-bbf7-ef591990fb98');
  background-color: #178F9B;
  background-repeat: no-repeat, no-repeat;
  color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding-top: 140px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  text-align: right;
  background-size: cover;
}

h2 {
  color: white;
  background-color: #525D76;
  font-size: 16px;
}

h3 {
  color: black; /*white;*/
  font-size: 14px;
  text-align: right;
}

h3 a {
  color: black; /*#fff;*/
}

b {
  color: white;
  background-color: #525D76;
}

p {
  background: white;
  color: black;
  font-size: 12px;
}

a {
  color : black;
}

a.name {
  color : black;
}

hr {
  display: none;
}

table {
  background-color: #ffffff;
  border: 1px solid #000;
  border-collapse:collapse;
}

tr:first-child
{
  background-color: #19B86A;
  height: 20px;
}

td {
  padding: 3px 10px 3px 2px;
}

td img {
  vertical-align: middle;
}
